# .gitignore
datasets/
outputs/
__pycache__/
*.pyc
*.iml
*.xml
.ipynb_checkpoints/
.idea/
.idea/*
data/
lightning_logs/
mnist_flow_checkpoints/
wandb/
.idea/PatchFlowMatching.iml
.idea/misc.xml
EMNIST